includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/larastan/larastan/extension.neon
    - phpstan/peststan.neon
    - vendor/tomasvotruba/type-coverage/config/extension.neon
    - phpstan/common.neon

parameters:
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 4
    paths:
        - packages
        - tests
        - scripts/benchmark-boot.php
        - scripts/benchmark-boot-child.php
        - scripts/benchmark-boot-support.php
    tmpDir: %currentWorkingDirectory%/var/phpstan/full
